<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/imgs/1.png" width="100%" height="100%">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>


<ion-header>
  <ion-navbar>
    <ion-title>
      Pink Rose Liners
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  
  <form [formGroup]="form" >
  <ion-list> 
    <ion-item>
      <ion-label>POL</ion-label>
      <ion-select  formControlName="pol" [(ngModel)]="pol" multiple="false" cancelText="Cancel" okText="Select">
        <ion-option *ngFor="let n of from" value="{{n.location}}">{{n.location}}</ion-option>
        
        
        
      </ion-select>
    </ion-item>
    <br>

    <ion-item>
      <ion-label>POD</ion-label>
      <ion-select  formControlName="pod" [(ngModel)]="pod" multiple="false" cancelText="Cancel" okText="Select">
        <ion-option  *ngFor="let n of to" value="{{n.location}}">{{n.location}}</ion-option>
        
        
      </ion-select>
    </ion-item>

    <br>

    <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime  formControlName="date" displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
      </ion-item>
    <br>

    <ion-item>
      <ion-label>Size</ion-label>
      <ion-select  formControlName="size" [(ngModel)]="size" multiple="false" cancelText="Cancel" okText="Select">
        <ion-option value="20_feet">20 feet</ion-option>
        
        
      </ion-select>
    </ion-item>
    <br>

    <ion-item>
      <ion-label>Commodity Type</ion-label>
      <ion-select  formControlName="c_type" [(ngModel)]="c_type" multiple="false" cancelText="Cancel" okText="Select">
        <ion-option *ngFor="let n of commoditytype" value="{{n.type}}">{{n.type}}</ion-option>
        
        
      </ion-select>
    </ion-item>

    <br>

    <ion-item>
        
        <ion-input  formControlName="c_name" [(ngModel)]="c_name" type="text" placeholder="Company Name " value=""></ion-input>
    </ion-item>

    <br>

    <ion-item>
        
        <ion-input  formControlName="location"  [(ngModel)]="loc" type="text" placeholder="Location" value=""></ion-input>
    </ion-item>
    <br>
    <ion-item>
        
        <ion-input  formControlName="number" [(ngModel)]="mobile_num" type="number" placeholder="Mobile Number" value=""></ion-input>
    </ion-item>
    <br>
    <ion-item>
        
        <ion-input  formControlName="email" [(ngModel)]="email" type="email" placeholder="Email Address" value=""></ion-input>
    </ion-item>
    <br>
    <ion-item>
       <Button ion-button color="danger" (click)="senddetail()" block>Submit</Button>
    </ion-item>
    </ion-list>
    </form>

    

  
</ion-content>


<ion-footer>
   
  </ion-footer>
